extends layouts/main.pug
include mixins/videoBlock

block content
    div.video__player
        video(src=`/${video.fileUrl}`)
    div.video__info
        a(href=routes.edit_video(video.id)) Edit Video
        h5.video__title=video.title
        span.video__views=video.views
        p.video__description=video.description